<nz-layout>
    <!-- <nz-header>
        <div class="logo">
            <span style="padding-left: 30px">LOCATION</span>
            <i nz-icon nzType="environment" nzTheme="fill" style="padding-left:10px "></i>
        </div>
        <ul nz-menu class="aaaa" nzTheme="dark" nzMode="horizontal">
          <li class="ssss" nz-menu-item><span><i nz-icon nzType="car" nzTheme="outline"></i></span><a [routerLink]="[ '/park']">停车场管理</a></li>
          <li class="cccc" nz-menu-item nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomCenter'" ><span><i nz-icon nzType="line-chart" nzTheme="outline"></i></span>统计报表
            <nz-dropdown-menu #menu="nzDropdownMenu" >
                <ul nz-menu>
                    <li nz-menu-item><a [routerLink]="[ '/analysis-chart']">停车记录报表</a></li>
                      <li nz-menu-item><a [routerLink]="[ '/park-lot-utilization']">使用率报表</a></li>
                </ul>
              </nz-dropdown-menu>
          </li>
          
            
            
          <li class="ssss" nz-menu-item><span><i nz-icon nzType="wallet" nzTheme="outline"></i></span><a [routerLink]="[ '/stock']">库存管理</a></li>
          <li class="ssss" nz-menu-item><span><i nz-icon nzType="safety-certificate" nzTheme="outline" ></i></span><a [routerLink]="[ '/accounts']">权限管理</a></li> 
        </ul>
        <div class="search">
              
              <nz-input-group [nzSuffix]="suffixIconSearch">
                      <input type="text" nz-input placeholder="搜索地图蒙城和模组IMEI" />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                      <i nz-icon nzType="search"></i>
              </ng-template>
        </div>
       
        <div class="user">
            <ul>
                <li nz-dropdown [nzDropdownMenu]="user" [nzPlacement]="'bottomRight'">
                <span ><i nz-icon nzType="user" nzTheme="outline" style="font-size: 20px"></i></span>
                
                  <nz-dropdown-menu #user="nzDropdownMenu" >
                    <ul nz-menu nzSelectable>
                        <li nz-menu-item><a>用户信息</a></li>
                        <li nz-menu-item><a [routerLink]="[ '/login']">退出</a></li>
                    </ul>
                  </nz-dropdown-menu>
                </li> 
              </ul>
        </div>
      </nz-header> -->
        
        <nz-content>
          <!-- <nz-breadcrumb>
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>List</nz-breadcrumb-item>
            <nz-breadcrumb-item>App</nz-breadcrumb-item>
          </nz-breadcrumb> -->
          <div class="inner-content">
            <header><button type="button">添加子账号</button></header>
            <nz-table
                 #rowSelectionTable
                 nzShowSizeChanger
                
                
            >
                <thead>
                    <tr>
                    <!-- <th
                        nzShowCheckbox
                        nzShowRowSelection
                        [nzSelections]="listOfSelection"
                        [(nzChecked)]="isAllDisplayDataChecked"
                        [nzIndeterminate]="isIndeterminate"
                        (nzCheckedChange)="checkAll($event)"
                    ></th> -->
                    <th style="font-weight: 1000">序号</th>
                    <th style="font-weight: 1000">用户名</th>
                    <th style="font-weight: 1000">联系方式</th>
                    <th style="font-weight: 1000">姓名</th>
                    <th style="font-weight: 1000">分配时间</th>
                    <th style="font-weight: 1000">操作</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of rowSelectionTable.data">
                    <!-- <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td> -->
                    <td>{{ data.name }}</td>
                    <td>{{ data.age }}</td>
                    <td>{{ data.address }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.age }}</td>
                    <td>{{ data.address }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.age }}</td>
                    <td>{{ data.address }}</td>
                    <td>{{ data.name }}</td>
                    </tr>
                </tbody>
            </nz-table>
         </div>
        </nz-content>
        
        
      </nz-layout>
